@model IEnumerable<MyTask.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary btn-block" asp-action="Cadastrar">Cadastrar</a>

        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <a class="btn btn-secondary btn-block" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-primary btn-block" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <a class="btn btn-success" asp-action="Cadastrar">Novo Usuário</a>
        </div>
    </div>
</div>
